@import "~normalize.css";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  //font-family: "Roboto", sans-serif;
  background: $background;
  color: $text;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main {
  max-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-areas:
  //   "registers orders orders"
  //   "radios radios radios"
  //   "registers-advanced DISP stack";
  // grid-template-columns: 30% 25% 1fr;
  // grid-template-rows: 1fr 30% 30%;
}

.section {
  //border: 2px solid #ffffff;
  &__paragraph {
    font-size: 20px;
  }
  &__button {
    color: $text;
    background: $background;
    border: 2px $button solid;
    //border-radius: 16px;
    text-align: center;
    margin: 4px;
    cursor: pointer;
    transition: border 0.5s ease-in-out;
    &:hover {
      border: 2px solid $active;
    }
    &--registers {
      width: 100px;
      font-size: 20px;
      margin: auto;
    }
    &--reset {
      grid-area: reset;
      margin-top: 32px;
      padding: 12px;
    }
    &--random {
      grid-area: random;
      margin-top: 32px;
      padding: 12px;
    }
    &--mov {
      padding: 16px;
    }
    &--xchg {
      padding: 16px;
      border: 2px $button-alter solid;
      &:hover {
        border: 2px solid $active-alter;
      }
    }
    &--radio {
      min-width: 100px;
      max-width: 150px;
      padding: 6px;
    }
    &--reset-advanced {
      grid-area: reset-advanced;
      padding: 12px;
      margin: auto;
      width: 100px;
      font-size: 20px;
    }
    &--push {
      padding: 16px;
      margin: 8px 48px;
    }
    &--pop {
      padding: 16px;
      margin: 8px 48px;
      border: 2px $button-alter solid;
      &:hover {
        border: 2px solid $active-alter;
      }
    }
  }
  &__container {
    //border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    &--registers {
      grid-area: registers;
    }
    &--base {
      grid-area: base;
    }
    &--index {
      grid-area: index;
    }
    &--orders {
      min-width: 24%;
    }
    &--radios {
      min-width: 15%;
    }
    &--names {
      grid-area: names;

      margin-top: 16px;
    }
    &--records {
      grid-area: records;
    }
    &--pushpop {
    }
  }
  &--registers {
    grid-area: registers;
    display: grid;
    grid-template-areas:
      ". reset random"
      "registers base index";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr;
  }
  &--orders {
    grid-area: orders;
    display: flex;
    justify-content: center;
  }
  &--radios {
    grid-area: radios;
    display: flex;
    justify-content: center;
    margin: 32px 32px;
    border: 3px solid $button-alter;
    border-radius: 25px;
  }
  &--registers-advanced {
    grid-area: registers-advanced;
    display: grid;
    grid-template-areas:
      ". reset-advanced"
      "names records";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr;
  }
  &--DISP {
    grid-area: DISP;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  &--stack {
    grid-area: stack;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  margin: 32px 0 0 0;
}
